Engine/src/Utility/STLSheetXmlExamples/shtisel-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="STL-Size">
		<xs:complexType>
			<xs:attribute name="rows-height-units" type="xs:int" use="required"/>
			<xs:attribute name="column-width-units" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="STL-Sheet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="STL-Layout"/>
				<xs:element ref="STL-Cells"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="STL-Original-Value" type="xs:string"/>
	<xs:element name="STL-Layout">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="STL-Size"/>
			</xs:sequence>
			<xs:attribute name="rows" type="xs:int" use="required"/>
			<xs:attribute name="columns" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="STL-Cells">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="STL-Cell" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="STL-Cell">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="STL-Original-Value"/>
			</xs:sequence>
			<xs:attribute name="row" type="xs:int" use="required"/>
			<xs:attribute name="column" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
